/* font import */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */

.btn-subs{
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(48deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%);
    color: #fff;
    border-radius: 10000px;
    border: none;
    display: flex;
    gap: 4px;
    align-items: center;
}


/* header */

header{
    background-color: #1A0B2E;
}
/* navbar */

.title{

}

nav{
    color: white;
    padding: 16px 0;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    border-bottom: 1px solid #412567;
}

nav ul{
    color: white;
    display: flex;
    gap: 32px;
    align-items: center;

}

nav ul li{
    color: white;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    line-height: 120%;
    font-weight: 500;
}
