/* font import */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-subs{
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(48deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%);
    color: #fff;
    border-radius: 10000px;
    border: none;
    display: flex;
    gap: 4px;
    align-items: center;
}

.btn-subs2{
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 20px;
    border:1px solid #0F8;
    border-radius: 1000px;
    background: transparent;
    color: #0F8;
    display: flex;
    gap: 4px;
    align-items: center;
}

.badge{
    padding: 8px 16px;
    background-color: #0F8;
    color: #1A0B2E;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 1000px;
      
}



/* header */

header{
    background-color: #1A0B2E;
}
/* navbar */

nav{
    border-bottom: 1px solid #412567;
}

.nav-content{
    color: white;
    padding: 24px 0;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

nav ul{
    color: white;
    display: flex;
    gap: 32px;
    align-items: center;

}

nav ul li{
    color: white;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    line-height: 120%;
    font-weight: 500;
}

/* hero section */

.hero-section{
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
    

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 101px 0;
    
}

.hero-img img{
    padding: 77px 116px 97px 116px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/hero-circle.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.hero-img{
    margin-bottom: 40px;
}

/* .hero-img button{
    margin-top: -200px;
    margin-right: -200px;
} */

.hero-section h3{
    font-size: 3.5rem;
    font-weight: 800;
    color: white;
    margin-bottom: 8px;
}

.hero-section p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 24px;
}

.hero-section .button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
}

@media screen and (max-width:) {
    
}
