/* font import */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-subs{
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(48deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%);
    color: #fff;
    border-radius: 10000px;
    border: none;
    display: flex;
    gap: 4px;
    align-items: center;
}

.btn-subs2{
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 20px;
    border:1px solid #0F8;
    border-radius: 1000px;
    background: transparent;
    color: #0F8;
    display: flex;
    gap: 4px;
    align-items: center;
}

.badge{
    padding: 8px 16px;
    background-color: #0F8;
    color: #1A0B2E;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 1000px;
      
}

header, .about-section, .featured-episodes, 
.host-section{
    background-color: #1A0B2E;

}

.w-full{
    width: 100%;
}

.rounded-t{
    border-radius: 24px 24px 0 0;
}
/* header */


/* navbar */



nav{
    border-bottom: 1px solid #412567;
}

.nav-content{
    color: white;
    padding: 24px 0;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

nav ul{
    color: white;
    display: flex;
    gap: 32px;
    align-items: center;

}

nav ul li{
    color: white;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    line-height: 120%;
    font-weight: 500;
}

/* hero section */

.hero-section{
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
    

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 101px 0;
}

.hero-img img{
    padding: 77px 116px 97px 116px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/hero-circle.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.hero-img{
    margin-bottom: 40px;
    position: relative;
    /* display: flex; */
}

.hero-img button{
    position: absolute;
    top: 8px;
    right: 15px;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.50);
}

.hero-section h3{
    font-size: 3.5rem;
    font-weight: 800;
    color: white;
    margin-bottom: 8px;
}

.hero-section p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 24px;
}

.hero-section .button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;

}

/* about section */

.about-content{
    max-width: 1200px;
    margin: 0 auto;
}

.about-content .about-heading{
    text-align: center;
}

.about-heading h3{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
    color: white;
}

.about-heading p{
    font-size: 1rem;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.70);
    font-weight: 400;
}

.about-heading .p1{
    margin-bottom: 24px;
}

.about-heading .p2{
    margin-bottom: 32px;
}

.about-heading{
    padding-bottom: 80px;
    border-bottom: 1px solid #412567;
}

.about-card{
    display: flex;
    padding-top: 80px;
    padding-bottom: 120px;
    justify-content: space-between;
}

.about-card .card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.about-card .card h4{
    color: #0F8;
    font-size: 3rem;
    font-weight: 900;
}

.about-card .card p{
    color: rgba(255, 255, 255, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
}

/* why section */

.why-section{
    background-color: #230E3D;
    padding: 120px 0;
}

.why-section h3{
    font-size: 3rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    margin-bottom: 40px;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.fact{

    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.40);
    color: rgba(255, 255, 255, 0.80);
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: flex-start;
}

.fact h5{
    font-size: 1.15rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.90);
}

.fact p{
    font-size: 1rem;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.70);
}

.fact-1{
    grid-row: span 2;
}

.fact-2{
    grid-column: span 2;
}

.fact-3{
    grid-column: span 2;
}

.fact-4{
    grid-column: span 2;
}

/* featured section */

.featured-episodes{
    padding: 120px 0;
}

.featured-title{
    color: rgba(255, 255, 255, 0.90);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    
}

.featured-video{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    column-gap: 16px;
}

.featured-video .video{
    border-radius: 24px;
    background-color: #250D44;
}

.featured-video .video .video-description{
    padding: 24px;
}

.featured-video .video .video-description h4{
    color:rgba(255, 255, 255, 0.90);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}

.featured-video .video .video-description >p{
    font-size: 1rem;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.70);
    margin-bottom: 12px;
}

.time{
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    gap: 6px;
    align-items: center;
}

/* host section */

.host-section{
    padding-bottom: 120px;
}

.host-section .host-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 0.90);
}


.host-info{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.40);
    border-radius: 40px;
}

.host-social{
    display: flex;
    gap: 8px;
}

.host-social ul li{
    list-style: none;
}

.host-social ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.host-social .icon{
    border-radius: 100000px;
    border: 1px solid #533C72;
    padding: 10.5px 10px 9.5px 10px ;
}

.host-details h5{
    font-size: 2rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.90);
    margin-bottom: 16px;
}

.host-details p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 16px;
}

/* footer section */

footer{
    padding: 120px;
    background-image: url(./assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.footer-content p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.7);
}

.footer-social-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    /* text-align: center; */
    /* max-width: 580px; */
}

.footer-social{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-social p{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
}

/* responsive for mobile */
@media screen and (min-width: 577px) {
    .nav-mobile{
        display: none;
    }
}

@media screen and (max-width: 576px) {
    /* navbar */

    .nav-pc{
        display: none;
    }
    /* .nav-mobile{
        
    } */

    .nav-content{
        padding: 16px 24px;
        display: flex;
        justify-content: space-between;
    }

    .hero-section{
        background-size: 100%;
        background-position: center;
    }

    .hero-img img{
        /* width: 80px;
        height: 80px; */
        padding: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(./assets/hero-circle.png);
        background-position:center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 80%;
    
    }

    .hero-img{
        /* margin: 0 auto; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        position: relative;
    
    }

    .hero-content{
        padding: 40px 20px;
    }

    .about-content{
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .about-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
        row-gap: 40px;
    }

    .facts-container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        row-gap: 16px;
        padding: 0 20px;
        column-gap: 0;
    }

    .fact{
        padding: 24px;
    }

    .fact-1{
    grid-row: span 1;
    }

    .fact-2{
        grid-column: span 1;
    }

    .fact-3{
        grid-column: span 1;
    }

    .fact-4{
        grid-column: span 1;
    }

    .featured-title{
        font-size: 2.5rem;
        padding: 0 20px;
    }

    .featured-video{
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        padding: 0 20px;
    }

    .featured-video .video{
        /* margin: 0 auto; */
        width: 100%;
    }

    .host-section{
        padding: 0 20px 40px 20px;
    }

    .host-info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 24px;
    }

    .host-social{
        justify-content: center;
    }

    footer{
        padding: 40px 20px;
        /* background-size: ; */
    }

    .footer-content{
        gap: 24px;
    }

    .footer-social-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }



}
